@page
@model CarBazarWebApp.Pages.Models.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center font1">All Company Model</h1>

<p>
    <a asp-page="Create" class="btn btn-dark">Add New Company Model</a>
</p>
<div class="row">
    @foreach (var item in Model.Model)
    {
        <div class="col-6">
            <div class="card mb-2">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.ModelName)</h4>
                    <p>Company: @Html.DisplayFor(modelItem => item.Company.CompanyName)</p>
                </div>
                <div class="card-footer">
                    <a asp-page="./Edit" class="btn btn-secondary mr-2" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Delete" class="btn btn-warning" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
